.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
  animation: fadeIn 0.3s ease-in-out;
}

/* Modal boxen */
.modal-content {
  background: #f9f9f9;
  padding: 30px;
  border-radius: 12px;
  width: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  animation: scaleIn 0.3s ease-in-out;
}
.your-score {
  display: grid;
  grid-template-columns: auto auto auto;
}
.your-score p {
  font-size: 1.5rem;
  font-weight: 800;
  color: #4caf50;
}

.list-container {
  display: flex;
  gap: 1rem;
}
.list-grid {
  display: grid;
  grid-template-columns: 1.5rem auto auto;
  gap: 1rem;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}

.modal-content h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
}

.high-score-section h3,
.reaction-time-section h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #555;
}

.high-score-section ul,
.reaction-time-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.high-score-section li,
.reaction-time-section li {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #444;
  padding: 5px;
  border-radius: 6px;
  background-color: #f0f0f0;
}

.modal-actions {
  margin-top: 30px;
}

.modal-actions button {
  margin: 0 10px;
  padding: 12px 24px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.modal-actions button:hover {
  background: #3e8e41;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
