.Board-container {
  display: flex;
}

.board {
  background-color: #7cf339;
  display: grid;
  padding: 20px;
  margin: 0 auto;
  grid-template-columns: repeat(5, 1fr);
  border: 5px solid black;
  border-radius: 10px;
  bottom: 10px;
}

img {
  width: 90px;
  height: 90px;
}
