.App {
  text-align: center;
  background-color: #ddf6ab;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startpage {
  text-align: center;
  justify-content: center;
  align-self: center;
}
