.board {
  background-color: #7cf339;
  display: grid;
  padding: 20px;
  margin: 0 auto;
  grid-template-columns: repeat(5, 1fr);
  border: 5px solid black;
  border-radius: 10px;
  bottom: 10px;
}

img {
  width: 90px;
  height: 90px;
}

/* score panel */
.score-panel {
  position: absolute;
  right: 70px;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.score-panel .name {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.score-panel .score {
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 0.2rem;
}
